.App {
  text-align: center;
}

.block-temperature {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
}

.add-task {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
}